@import url("https://rsms.me/inter/inter.css");

$purple: #7B42FF;
$darkPurple: #522FA4;
$lightGray: #BBB8C1;
$midGray: #6C6974;
$darkGray: #2F2E31;
$white: #FFFFFF;


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

// ABOVE RESET ONLY

.darkGray {
  color: $darkGray;
}

body {
  font-family: inter, sans-serif;
  background-image: url(img/bg-Keymotes.png);
  background-repeat: repeat;
  // overflow: hidden;

}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

p {
  font-size: 0.6rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

nav {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1.5rem;
  }

.signup-info {
  margin-bottom: 1rem;
}

.split {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  align-items: center;
}

.icons {
  display: none;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

a {
  cursor: url(img/Kappa-Face.png), auto;
}

button {
  background-color: $darkPurple;
  border-radius: .2rem;
  border: none;
  width: 90px;
  height: 35px;
  color: $white;
  cursor: pointer;
  text-align: center;
  font-size: .75rem;
}

input {
  height: 35px;
  font-weight: 300;
  font-size: .8rem;
  width: 190px;
  font-style: italic;
  text-align: center;
}

#hamburger {
  position: relative;
  margin-left: 40%;
}

@media only screen and (min-width: 1300px) {
  .split {
    flex-direction: row;
    justify-content: center;
    text-align: right;
    margin-top: 10rem;
  }
  .split-left {
    margin-right: 2rem;
  }
  .split-right {
    margin-left: 2rem;
  }
  h1 {
    font-size: 1.7rem;
  }
  nav {
    justify-content: center;
    margin-top: 3rem;
  }
  nav svg {
    margin-right: .5rem;
    width: 30px;
    height: 30px;
  } 
}

@media only screen and (min-width: 640px) {
  
  video {
    width: 640px;
    height: 360px;
  }
}

@media only screen and (min-width: 480px) {
  
  .nav-right {
    display: none;
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  p {
    margin-bottom: 1rem;
  }
}


